@font-face{    
    font-family:"Montserrat"; 
    src: url("../font/Montserrat-Medium.ttf");
}


body{    
    background-color:#f5f5f5;    
    margin:0;    
    padding:0;    
    font-family:"Montserrat" , monospace , sans-serif;
}
input{
    margin: 0;
    outline: none;
}

button{    
    outline:none;    
    background-color:white;    
    font-size:1.1rem;    
    font-family:"Montserrat" , monospace , sans-serif;  
    border:none;
    cursor: pointer;
}

b{
    color: black;
}
p{    
    font-family:"Montserrat" , monospace , sans-serif; 
    text-decoration:none;    
    color:grey;
    line-height: 22px;
}


header{    
    position:absolute;
}


a{    
    text-decoration:none;
}


footer{    
    background:#141414; 
    width: 100%;   
    height:260px;    
    box-sizing:border-box;    
    padding-top:5px;    
    padding:5px;
    margin-top: 12px;
}


span{    
    color:#ACACAC;    
    font-size:14px;
}
*::selection{
    background: #6BEFFF;
    color: white;
}

/*Выше идут просто теги и псевдоклыссы к ним*/

.head{    
    background-color:white;    
    position:fixed;    
    width:100%;    
    height:50px;    
    top:0px;
    border:1px solid rgb(213, 213, 213);
    z-index: 10;
}
/*Голова*/

.logo{    
    margin:5px;    
    width:2.5em;
}


.btn_head{    
    width:53px;    
    height:51px;    
    position:absolute;    
    right:0;    
    top:0;    
    background:white;    
    border:1px solid rgb(213, 213, 213);
}


.obl1{
    position: relative;
    height: 50px;
    top: -50px;
}


.btn_head img{    
    position:relative;    
    top:50%;    
    width:50%;    
    transition:.3s;
}

/*Кнопка и картинка в ней
Вообще я хотел бы заменить
button на checkbox*/
.head_menu{    
    position:fixed;    
    top:52px;    
    width:100%;
    height: 0;
}


.head_menu a{    
    display:block;    
    margin-bottom:2px;
    visibility: hidden;
}


.head_menu div{    
    height:0;    
    border:none;    
    transition:height .3s;
    visibility: hidden;
}


.head_menu p{    
    left:-90px;    
    position:relative;    
    overflow:hidden;
    visibility: hidden;
    font-family:"Montserrat" , monospace , sans-serif;
    font-weight: bolder; 
}

.about_b{    
    color: black;
}
.home_blue{
    color: black;
}
/*Меню , ссылка - поле для нажатия , 
див - блок , и текст*/
.btn_head:checked{
    background-image: url(../image/trngl.png);
}
.btn_head:checked ~ .head_menu{
    height: 50%;
    left: 0;

}
.btn_head:checked ~ .head_menu div{    
    height:50px;    
    background-color:white;    
    border:1px solid rgb(213, 213, 213);    
    overflow:hidden;    
    position:relative;
    visibility: visible;
}


.btn_head:checked ~ .head_menu p{    
    margin:0;    
    padding:0;    
    position:relative;    
    top:15px;    
    left:12px;
    visibility: visible;
}
.btn_head:checked ~ .head_menu a{
    visibility: visible;
}


/*******Функциональная часть меню*******/
.sec1{
    margin-top: 50px;
    background: #3e3e3e;
    height: 150px;
    width: 100%;
    padding-top: 25px;

}
.sec1 h1{
    color: white;
    text-align: center;
    margin:auto;
    margin-bottom: 5px;
}
.sec1 p{
    color: white;
    text-align: center;
    width: 75%;
    line-height: 22px;
    margin:auto;
}
.sec2{
    background: #10c9c3;
    padding: 15px;
}
.float_block div{    
    width:206px;
}
.float_block h4{
    display: inline-block;
    color: white;
}
.float_block img{
    margin-bottom: -13px;
}
.float_block p{
    margin: 0;
    color: white;
}
.sec3{
    background: #f5f5f5;
}
.photo1{
    visibility: hidden;
    width: 0; 
    margin: 0;    
}
.sec3 h1{
    margin: 0; 
    margin-bottom: 10px; 
}
.photo2{
    width: 100%;    
}

.sec4 button{       
    width:150px;    
    height:50px;  
    font-size:13px;    
    color:white;
    transition: .2s;
    -webkit-box-shadow: 0 0 16px 0px rgb(16, 201, 195);
    -o-box-shadow: 0 0 16px 0px rgb(16, 201, 195);
    -moz-box-shadow: 0 0 16px 0px rgb(16, 201, 195);
    -ms-box-shadow: 0 0 16px 0px rgb(16, 201, 195);
    box-shadow: 0 0 16px 0px rgb(16, 201, 195);
    background: #17f3ec;
    margin-left: 7px;
}
.sec4 button:active{
    -webkit-box-shadow: inset 0 0 16px 0px rgb(16, 201, 195);
    -o-box-shadow: inset 0 0 16px 0px rgb(16, 201, 195);
    -moz-box-shadow: inset 0 0 16px 0px rgb(16, 201, 195);
    -ms-box-shadow: inset 0 0 16px 0px rgb(16, 201, 195);
    box-shadow: inset 0 0 16px 0px rgb(16, 201, 195);
    background: rgb(16, 201, 195);
}
/*Сдесь заканчивается основная часть
сайта , и начинается футер*/
.fot1{    
    width:180px;
}


.fot1 h5{    
    color:white;    
    margin:0;
}


.fot1 p{    
    margin:0;    
    margin-top:15px;    
    color:#bcbcbc;    
    font-size:.7rem;    
    line-height:20px;
}


.fot2{    
    margin-top:20px;    
    width:150px;
}


.fot2 p{    
    margin:0;    
    color:#bcbcbc;    
    font-size:.7rem;    
    line-height:20px;
}


.fot3{    
    margin-top:15px;    
    margin-left:41px;       
    width:260px;    
    margin-bottom:0;
}


._fot1  , ._fot2  , ._fot3{    
    display:inline-block;    
    margin-left:15px;
}


._fot1 p , ._fot2 p , ._fot3 p{    
    margin:0;    
    color:#bcbcbc;    
    font-size:.7rem;    
    line-height:20px;
}
/************Маленькие устройства***********/
@media(min-width: 425px){
    .sec2{    
    box-sizing:border-box;
    }
    .item1 , .item2{
        margin-bottom: 10px;
    }
    .item4 p{
        width: 15px;
    }
    .float_block{
        width: 287px;
        margin: auto;
    }
    .float_block div{
        width: 141px;
        margin-left: 0;
        margin: 0;
        display: inline-block;
    }
    footer{
        height: 220px;
    }
    .fot1{
        margin-top: 12px;
    }
    .fot2{
       
        margin-top: -40px;
        margin-left: auto;    
    }
    .fot3{
        margin: auto;
        margin-top: 22px;
    }
    .fot3 p{
        margin-left: 6px;
    }
}
/*************Маленькие телефоны**************/
@media (min-width: 768px){
    .sec1 p{
        width: 55%;
    }
    .sec2{
        height: 142px;
    }
    .float_block{
        width: 577px;
    }
    .item1 , .item2 , .item3 , .item4{
        display: inline-block;
        margin:0;
    }
    .sec3{
        height: 328px;
    }
    .sec3 h1{
        margin-bottom: 0;
    }
    .sec3 p{
        margin: 0;
    }
    .sec3 > div{
        box-sizing: border-box;
        padding: 10px;
    }
    .photo1{
        width: 437px;
        visibility: visible;
        float: left;
    }
    .photo2{
        visibility: hidden;
        width: 0; 
        margin: 0;    
    }
    .sec4{
        background: white;
        height: 320px;
        padding-top: 50px;
        box-sizing: border-box;
    }
    .sec4 > div{
        width: 66%;
        margin: auto;
    }
    .sec4 h1{ 
        text-align: center; 
    }
    .sec4 p{
        width: 490px;
        margin: auto;
        margin-top: 12px;
        text-align: center;
        margin-bottom: 10px;
    }
    .sec4 button {
        margin: auto;
    }
    .sec4 p ~ div{
        margin: auto;
        width: 150px;
    }
    footer{
        margin-top: 0;
    }
}
/*****************Планшеты******************/
@media (min-width: 1024px){
    header{
        position: static;
    }
    .about_blue{
        color: #10c9c3;
    }
    .sec1{
        margin-top: 0;
    }
    .sec1 p{
        line-height: 25px;
    }
    .float_block{
        width: 717px;
    }
    .float_block div{
        margin-right: 35px;
    }
    .item1 , .item2 , .item3 , .item4{
        margin: 0 17px;
    }
    .sec3{
        height: 372px;
    }
    .sec3 p{
        line-height: 25px;
    }
    .photo1{
        width: 497px;
    }
    .rosp{
        margin-top: 44px;
    }
    .sec3 > div{
        padding: 45px;
    }
    .sec4 p{
        width: 560px;
        line-height: 25px;
    }
    .sec4 button{
        box-shadow: none;
        background: #10c9c3;
    }
    .sec4 button:hover{
        -webkit-box-shadow: 0 0 16px 0px rgb(16, 201, 195);
        -o-box-shadow: 0 0 16px 0px rgb(16, 201, 195);
        -moz-box-shadow: 0 0 16px 0px rgb(16, 201, 195);
        -ms-box-shadow: 0 0 16px 0px rgb(16, 201, 195);
        box-shadow: 0 0 16px 0px rgb(16, 201, 195);
        transition: .2s;
        background: #17f3ec;
    }
    .sec4 button:active{
        -webkit-box-shadow:  rgb(16, 201, 195)
        -o-box-shadow:  rgb(16, 201, 195)
        -moz-box-shadow:  rgb(16, 201, 195)
        -ms-box-shadow:  rgb(16, 201, 195)
        box-shadow:  rgb(16, 201, 195)
        background: rgb(16, 201, 195);
    }
    
    footer{
        position: relative;
    }
    .head{
        position: relative;
        height: 75px;
        border: none;
    }
    .logo {
        margin-left: 81px;
        margin-top: 15px;
        width: 3em;
    }
    .btn_head{
        visibility: hidden;
    }
    .obl1{
        display: inline-block;
        position: absolute;
        right: 298px;
        top: -24px;
    }

    .head_menu {
        width: 270px;
        height: 20px;
        visibility: visible;
        position: absolute;
    }

    .head_menu a{  
        width: 50px;
        height: 25px;  
        visibility: visible;
        display: inline-block;
        margin-left: 20px;
    }

    .head_menu div{ 
        width: 50px;
        height: 25px; 
        visibility: visible;
    }
    .home_blue{
        color: #10c9c3;
    }

    .head_menu p{ 
        width: 82px;
        height: 25px;
        visibility: visible;  
        left: 0; 
        margin: 0;
        font-family:"Montserrat" , monospace , sans-serif;
        
    }
    .fot1{
        margin-left: 80px;
        margin-top: 51px;
    }
    .fot2{
        margin-right: auto;
    }
    .fot3{
        position: absolute;
        right: 72px;
        top: 40px;
        width: 280px;
    }
    ._fot3{
        margin-left: 35px;
    }
}
@media (min-width: 1440px){
    .obl1{
        right: 348px;
    }
    .sec1{
        height: 210px;
        padding-top: 95px;
    }
    .sec1 h1{
        font-size: 34px;
    }
    .sec1 p{
        font-size: 17px;
        width: 45%;
        line-height: 35px;
    }
    .float_block{
        width: 920px;
    }
    .float_block div{
        margin-right: 85px;
    }
    .sec3{
        height: 562px;
    }
    .sec3 h1{    
        font-size:32px;  
    }
    .sec3 p{
        line-height: 30px;
    }
    .sec3 > div {
        padding: 115px;
    }
    .photo1{
        width: 750px;
    }
    .sec4{    
        height:360px;        
    }
    .sec4 h1{    
        font-size:32px;
    }
    .sec4 p{    
        font-size:18px;    
        width:650px;    
        line-height:30px;
    }
    .sec4 button{    
    margin-top:12px;    
    width:150px;

    }
}
/*****************Ноутбуки*******************/
@media (min-width: 2560px){
    .sec1 h1{
        font-size: 39px;
        margin-bottom: 12px;
    }
    .sec1 p{
        font-size: 23px;
        width: 35%;
    }
    .float_block{
        width: 1437px;
    }
    .float_block div{
        width: 271px;
    }
    .float_block img{
        width: 54px;
    }
    .float_block h4{
        font-size: 18px;
        margin-left: 12px;
        margin-bottom: 16px;
    }
    .float_block p{
        font-size: 21px;
        word-spacing: 4px;
    }
    .item1{
        margin-bottom: -19px;
    }
    .item4 p{
        width: 177px;
    }
    .sec3{
        height: 727px;
    }
    .sec3 h1{
        font-size: 49px;
    }
    .sec3 p{
        line-height: 48px;
        font-size: 26px;
        width: 1972px;
    }
    .rosp{
        margin-top: 64px;
        width: 382px;
    }
    .photo1{
        width: 970px;
        margin-left: 312px;
    }
    .sec4{
        height: 410px;
    }
    .sec4 h1{
        font-size: 46px;
        margin-bottom: 0;
    }
    .sec4 p{
        font-size: 22px;
        width: 738px;
        line-height: 34px;
    }
    .sec4 p ~ div{
        margin: auto;
        width: 210px;
    }
    .sec4 button{
        width: 200px;
    }
}
/***************Большие мониторы**************/
